<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.ChoiceParameterDefinition>
          <name>browserName</name>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>chrome</string>
              <string>firefox</string>
              <string>IE</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <customWorkspace>C:\Users\Mayur\PycharmProjects\PythonSelFramework</customWorkspace>
  <builders>
    <hudson.tasks.BatchFile>
      <command>cd tests&#xd;
py.test --browser_name %browserName% --html=$WORKSPACE\reports\reports.html -v --junitxml=&quot;result.xml&quot;&#xd;
</command>
      <configuredLocalRules/>
    </hudson.tasks.BatchFile>
  </builders>
  <publishers>
    <hudson.tasks.junit.JUnitResultArchiver plugin="junit@1303.v05e2505656b_7">
      <testResults>tests/*.xml</testResults>
      <stdioRetention>NONE</stdioRetention>
      <keepProperties>false</keepProperties>
      <keepTestNames>false</keepTestNames>
      <healthScaleFactor>1.0</healthScaleFactor>
      <allowEmptyResults>false</allowEmptyResults>
      <skipPublishingChecks>false</skipPublishingChecks>
      <checksName></checksName>
      <skipMarkingBuildUnstable>false</skipMarkingBuildUnstable>
      <skipOldReports>false</skipOldReports>
    </hudson.tasks.junit.JUnitResultArchiver>
  </publishers>
  <buildWrappers/>
</project>